@mixin font-face( $font-name, $font-path,  $font-weight: 400, $font-style: normal, $support: 'modern') {
	@font-face {
		font: {
			family: $font-name;
			style : $font-style;
			weight: $font-weight;
		}
		@if $support == 'old' {
			src: url('#{$font-path}.eot');
			src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}.woff2') format('woff2'),
			url('#{$font-path}.woff') format('woff'),
			url('#{$font-path}.ttf') format('truetype');
		}
		@else if $support == 'recent' {
			src: url('#{$font-path}.woff2') format('woff2'),
			url('#{$font-path}.woff') format('woff'),
			url('#{$font-path}.ttf') format('truetype');
		}
		@else if $support == 'modern' {
			src: url('#{$font-path}.woff2') format('woff2'),
			url('#{$font-path}.woff') format('woff');
		}
		@else {
			@error 'Invalid support value. Must be "old"==>IE8 and above/ Android native browser 4+/ Safari 4.3 OR "recent"==>IE9+/ Android native browser 4.0+/ Safari 4.3+ OR "modern"==>IE9+/ Android native browser 4.4+/ Safari 5.1+';
		}
	}
}

