$black: #212121;
$white: #ffffff;
$green: #00897b;
$gray: #f0f1f1;
$blue: #3949ab;
$aqua: #e4fdf9;

$padding-x: 30px;

$default-font: 'open_sans', Arial, sans-serif;
$roboto: 'roboto', Arial, sans-serif;

$hover-effect: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
